/* 1. Aplica o desfoque (blur) no fundo escuro atrás do alerta */
.swal2-backdrop-show {
    backdrop-filter: blur(8px) !important;
    background: #00000066 !important;
}

/* 2. Estiliza o card (fundo do alerta) */
.swal2-popup {
    padding: 1rem !important;
    color: #ffffff !important;
    border-radius: 10px !important;
    backdrop-filter: blur(12px) !important;
    background: var(--k-surface-700) !important;
    border: 1px solid var(--k-surface-500) !important;
}

/* Altera o título de todos os alerts */
.swal2-title {
    font-size: 1.8rem !important;
    color: #ffffff !important;
}

/* Container pai dos botões */
.swal2-actions {
    display: flex !important;
    justify-content: space-evenly !important;
    width: 100% !important; /* Garante que o container ocupe a largura total para o space-between funcionar */
}

/* Altera o texto descritivo de todos os alerts */
.swal2-html-container {
    font-size: 1.2rem !important;
    padding: 1.8rem 1rem !important;
    color: #cccccc !important;
}

/* Altera o botão de confirmação globalmente */
.swal2-confirm {
    background-color: var(--k-primary-hover) !important; /* Ex: Roxo/Azul */
    box-shadow: none !important;
}

/* Altera o botão de cancelamento globalmente */
.swal2-cancel {
    background-color: #ef4444 !important; /* Ex: Vermelho */
}

/* Altera o tamanho de TODOS os ícones (success, error, etc.) */
.swal2-icon {
    width: 60px !important;       /* Largura do círculo do ícone */
    height: 60px !important;      /* Altura do círculo do ícone */
    font-size: 12px !important;    /* Reduz/aumenta o símbolo interno (check, X, etc.) */
    margin: 20px auto 10px !important; /* Ajusta o espaçamento ao redor do ícone */
}

/* Opcional: Se quiser ajustar especificamente o ícone de sucesso */
.swal2-icon.swal2-success {
    /* Seus estilos específicos aqui */
}

/* Opcional: Se quiser ajustar especificamente o ícone de erro */
.swal2-icon.swal2-error {
    /* Seus estilos específicos aqui */
}